<template>
  <!-- FOOTER AREA  -->
  <footer class="footer">

    <section class="box-container">

      <div class="box">
        <img src="../assets/images/email-icon.png" alt="">
        <h3>nuestro email</h3>
        <router-link to="mailto:restaurantpapapollo@gmail.com">restaurantpapapollo@gmail.com</router-link>
        <router-link to="mailto:pedidos@papapollomcbo.com">pedidos@gmail.com</router-link>
      </div>

      <div class="box">
        <img src="../assets/images/clock-icon.png" alt="">
        <h3>horario de trabajo</h3>
        <p>00:07am to 00:10pm </p>
        <p>Lun - Dom </p>
      </div>

      <div class="box">
        <img src="../assets/images/map-icon.png" alt="">
        <h3>encuentranos en</h3>
        <router-link to="https://www.google.com/maps">Av. 15 Delicias con calle 70, <br/>Maracaibo - Zulia 4001</router-link>
      </div>

      <div class="box">
        <img src="../assets/images/phone-icon.png" alt="">
        <h3>contactanos</h3>
        <router-link to="tel:1234567890">+123-456-7890</router-link>
        <router-link to="tel:1112223333">+111-222-3333</router-link>
      </div>

    </section>

    <div class="credit">&copy; copyright @ 2022 by <span> <router-link to="https://devdoblea.netlify.app/" target="_blank" style="text-decoration: none;" >@devdoblea</router-link> & mr. web designer</span> | all rights reserved!</div>

  </footer>
  <!-- FINAL FOOTER AREA  -->
</template>
