<template>
  <div class="heading">
    <h3>nuestro menu</h3>
    <p><router-link to="/"> inicio </router-link> <span> / menu</span></p>
  </div>

  <section class="products">

    <h1 class="title">platos populares</h1>

    <div class="box-container">

      <form accept="" method="post" class="box" v-for="getterProd in getProductos" :key="getterProd.idprod">
        <router-link to="/quick_view"> <i class="fas fa-eye fa-2xs"></i> </router-link>
        <router-link to="/add_to_cart"> <i class="fas fa-cart-plus fa-2xs"></i> </router-link>
        <img v-if="getterProd.imagen_prod !== 'NO_TIENE_IMAGEN'" :src="'http://api.papapollo.local/assets/images/productos/500x500/'+ getterProd.imagen_prod" alt="">
        <img v-else :src="'http://api.papapollo.local/assets/images/productos/no-image.png'" alt="">
        <router-link to="/category" class="cat">{{ getterProd.categoria }}</router-link>
        <div class="name">{{ getterProd.nomprod }}</div>
        <div class="flex">
          <div class="price"><span>$</span>{{ getterProd.precioDetal }}<span>/-</span></div>
          <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
        </div>
      </form>

    </div>

  </section>
</template>

<script>
  // para traer los datos
  import { ref, onMounted, computed } from 'vue';
  //import the global store object from Vuex
  import { useStore } from 'vuex';

  export default {
    name: 'MenuPage',
    props: {
    },
    components: {
    },
    setup() {
      // declare the store variable
      const store = useStore();

      const getProductos = computed(() => {
        return store.getters.getProductos
      });

      return {
        getProductos,
      };
    },
    methods: {
      initProductos() {
        // declare the store variable
        const store = useStore();
        // dispatch the fetchProductos action which commits a mutation to update the state
        store.dispatch({
          type: 'fetchProductos',
          porPagina: 9
        })
      },
    },
    mounted () {
      this.initProductos();
    },
  }
</script>
