<template>
  <div class="hellow">
    <section class="home">

      <div class="swiper home-slider" ref="homeSlider">

        <div class="swiper-wrapper" ref="carouselWrapper">
          <!--  -->
          <div class="swiper-slide slide">
            <div class="content">
              <span>pídelo online</span>
              <h3>pollo a la brasa</h3>
              <router-link class="btn" to="/menu">ver menus</router-link>
            </div>
            <div class="image">
              <img src="../assets/images/home-img-3.png" alt="">
            </div>
          </div>
          <!--  -->
          <div class="swiper-slide slide">
            <div class="content">
              <span>pídelo online</span>
              <h3>combos de hamburguesa</h3>
              <router-link class="btn" to="/menu">ver menus</router-link>
            </div>
            <div class="image">
              <img src="../assets/images/home-img-2.png" alt="">
            </div>
          </div>
          <!--  -->
          <div class="swiper-slide slide">
            <div class="content">
              <span>pídelo online</span>
              <h3>pizzas deliciosas</h3>
              <router-link class="btn" to="/menu">ver menus</router-link>
            </div>
            <div class="image">
              <img src="../assets/images/home-img-1.png" alt="">
            </div>
          </div>

        </div>

        <div class="swiper-pagination"></div>

      </div>

    </section>

    <section>
      <div class="hello">
        <h1>{{ msg }}</h1>
        <h1>Made By Getters</h1>
        <div v-for='getterProd in getProductos' :key='getterProd.idprod'>
          {{getterProd.idprod}} {{getterProd.codprod}} {{getterProd.nomprod}}
        </div>
        
        <h1>Made By Actions</h1>
        <div v-for='prod in productos' :key='productos.idprod'>
          {{prod.idprod}} {{prod.codprod}} {{prod.nomprod}}
        </div>

        <h1>Made By Getters</h1>
        <div v-for='getterPed in getPedidos' :key='getterPed.idpgen'>
          {{getterPed.idpgen}} {{getterPed.codped}} {{getterPed.apenomcli}}
        </div>
      </div>
    </section>

    <section class="category">

      <h1 class="title">Nuestras Categorias</h1>

      <div class="box-container">

        <router-link class="box" to="/category">
          <img src="../assets/images/cat-1.png" alt="">
          <h3>comida rápida</h3>
        </router-link>

        <router-link class="box" to="/category">
          <img src="../assets/images/cat-2.png" alt="">
          <h3>platos principales</h3>
        </router-link>

        <router-link class="box" to="/category">
          <img src="../assets/images/cat-3.png" alt="">
          <h3>bebidas</h3>
        </router-link>

        <router-link class="box" to="/category">
          <img src="../assets/images/cat-4.png" alt="">
          <h3>postres</h3>
        </router-link>
      </div>

    </section>

    <section class="products">

      <h1 class="title">Nuestros Platos</h1>

      <div class="box-container">

        <div class="box" v-for="getterProd in getProductos" :key="getterProd.idprod">
          <router-link to="/quick_view"> <i class="fas fa-eye fa-2xs"></i> </router-link>
          <router-link to="/add_to_cart"> <i class="fas fa-cart-plus fa-2xs"></i> </router-link>
          <img :src="'http://api.papapollo.local/assets/images/productos/500x500/'+ getterProd.imagen_prod" alt="">
          <router-link to="/category" class="cat">{{ getterProd.categoria }}</router-link>
          <div class="name">{{ getterProd.nomprod }}</div>
          <div class="flex">
            <div class="price"><span>$</span>{{ getterProd.precioDetal }}<span>/-</span></div>
            <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;">
          </div>
        </div>
        
      </div>

      <div class="more-btn">
        <router-link class="btn" to="/menu">ver todos</router-link>
      </div>

    </section>
  </div>
</template>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>

<script>
  // para traer los datos
  import { ref, onMounted, computed } from 'vue';
  //import the global store object from Vuex
  import { useStore } from 'vuex';
  
  // para el carrusel de imagenes en el encabezado
  import Swiper, { Pagination, EffectFlip } from 'swiper';
  Swiper.use([Pagination, EffectFlip]);

  export default {
    name: 'HomeLanding',
    props: {
     msg: String
    },
    components: {
      Swiper,
    },
    setup() {
      const msg = ref("Welcome");

      // declare the store variable
      const store = useStore();

      const getProductos = computed(() => {
        return store.getters.getProductos
      });

      const productos = computed(() => {
        return store.state.productos
      });

      const getPedidos = computed(() => {
        return store.getters.getPedidos
      });

      const pedidos = computed(() => {
        return store.state.pedidos
      });

      // para el Swiper
      const onSwiper = (swiper) => {
        console.log(swiper);
      };
      // para el Swiper
      const onSlideChange = () => {
        console.log('slide change');
      };
      return {
        msg,
        getProductos,
        productos,
        getPedidos,
        pedidos,
        onSwiper,
        onSlideChange,
        homeSlider: null,
        carouselOptions: {
          loop:true,
          grabCursor: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          effect: 'flip',
          flipEffect: {
            slideShadows: false,
          },
        },
      };
    },
    methods: {
      initCarousel() {
          this.homeSlider = new Swiper(this.$refs.homeSlider, this.carouselOptions);
      },
      initProductos() {
        // declare the store variable
        const store = useStore();
        // dispatch the fetchProductos action which commits a mutation to update the state
        store.dispatch("fetchProductos");
      },
      initPedidos() {
        // declare the store variable
        const store = useStore();
        // dispatch the fetchProductos action which commits a mutation to update the state
        store.dispatch("fetchPedidos");
      },
    },
    mounted () {
      this.initCarousel();
      this.initProductos();
      this.initPedidos();
    },
  }
</script>
